
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vishal Cricket</title>
    <meta
      name="description"
      content="Build your next SaaS landing page website with an easy-to-use website builder"
    />
    <link rel="icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      property="og:title"
      content="SaaS Landing Page Template 7 - Dorik.io"
    />
    <meta
      property="og:description"
      content="Build your next SaaS landing page website with an easy-to-use website builder"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <script type="text/javascript"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,600,600,600,600,600,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.dorik.com/6183df662a6d91001154c5ea/css/index.css?v=97a2a0a7249d1468489793d7d6ac47c6a0623308"
    />
  </head>
  <body>
    <section class="dorik-section dorik-section-fym64dyw ">
      <div class="container">
        <div class="dorik-row-t9uf73pn  flex">
          <div class="col-lg-1/1 ">
            <div class="column-inner dorik-column-wyceh4k1  1/1">
              <div class="dorik-navbar--wrapper dorik-nav-i2ujuuxm-wrapper ">
                <div class="dorik-navbar dorik-nav-i2ujuuxm ">
                  <div class="dorik-navbar--brand">
                    <a
                      ><img
                        src="https://cdn.dorik.com/615289053eb7a900117249cf/61528b083eb7a900117249d9/images/logo2_p7pqgn0i.png"
                        width="190px"
                    /></a>
                  </div>
                  <button
                    class="dorik-navbar--toggle"
                    data-target="#dorikNavbarCollapse"
                  >
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="bars"
                      class="svg-inline--fa fa-bars fa-w-14 fa-fw "
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        fill="currentColor"
                        d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                      ></path>
                    </svg>
                  </button>
                  <div
                    class="dorik-navbar--collapse collapse"
                    id="dorikNavbarCollapse"
                  >
                    <div class="dorik-navbar--navs">
                      <ul class="dorik-nav--links normalize">
                        <li class="">
                          <a href="#features" class="dorik-nav--link home"
                            ><span class="dorik-nav--link-text">Home</span></a
                          >
                        </li>
                        <li class="">
                          <a href="#pricing" class="dorik-nav--link contact-us"
                            ><span class="dorik-nav--link-text"
                              >Contact us</span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="dorik-section dorik-section-mv2r3q06 " id="features">
      <div class="container">
        <div class="dorik-row-12klgokk  flex">
          <div class="col-lg-1/1 ">
            <div class="column-inner dorik-column-bh13q9qy  1/1">
              <div class="dorik-wrapper dorik-heading-ho4020eb-wrapper ">
                <h2 class="dorik-heading dorik-heading-ho4020eb ">
                  <span><p>Welcome to Vishal Cricket</p> </span>
                </h2>
              </div>
              <div class="dorik-text dorik-text-642o3e8k ">
                <p>
                  Get Live Cricket Score, Scorecard,Fixtures of International
                  cricket matches
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="dorik-row-utgsgdng  flex">
          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-otvn6krd  1/3">
              <div class="dorik-wrapper dorik-image-qd7sxt72-wrapper ">
                <img
                  src="https://cdn.dorik.com/615289053eb7a900117249cf/6183df662a6d91001154c5ea/images/livescore_gsgi18ve.jpg"
                  class="dorik-image-qd7sxt72 "
                />
              </div>
              <a
                class="dorik-wrapper dorik-heading-imnd5oa3-wrapper "
                href="https://api.api-cricket.com/?method=get_livescore&amp;APIkey=673ee20662b21e17c982d271725b2b1b010e5fe8494aa28b485f24c90bbb5b7c"
                target="_blank"
                rel="noreferrer"
                ><h4 class="dorik-heading dorik-heading-imnd5oa3 ">
                  <span
                    ><p>Live Score</p>
                    <p></p>
                  </span></h4
              ></a>
            </div>
          </div>
          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-rzj3gv3i  1/3">
              <div class="dorik-wrapper dorik-image-r71ubs1b-wrapper ">
                <img
                  src="https://cdn.dorik.com/615289053eb7a900117249cf/6183df662a6d91001154c5ea/images/Countries1_a2lx177m.jpg"
                  class="dorik-image-r71ubs1b "
                />
              </div>
              <a
                class="dorik-wrapper dorik-heading-voz5dlxh-wrapper "
                href="https://api.api-cricket.com/?method=get_countries&amp;APIkey=673ee20662b21e17c982d271725b2b1b010e5fe8494aa28b485f24c90bbb5b7c"
                target="_blank"
                rel="noreferrer"
                ><h4 class="dorik-heading dorik-heading-voz5dlxh ">
                  <span><p>Countries</p> </span>
                </h4></a
              >
            </div>
          </div>
          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-8vajveq1  1/3">
              <div class="dorik-wrapper dorik-image-6clom4up-wrapper ">
                <img
                  src="https://cdn.dorik.com/615289053eb7a900117249cf/6183df662a6d91001154c5ea/images/teams_mc1zi8cn.jpg"
                  class="dorik-image-6clom4up "
                />
              </div>
              <a
                class="dorik-wrapper dorik-heading-p8sc4joe-wrapper "
                href="https://api.api-cricket.com/cricket/?method=get_teams&amp;team_key=137&amp;APIkey=673ee20662b21e17c982d271725b2b1b010e5fe8494aa28b485f24c90bbb5b7c"
                target="_blank"
                rel="noreferrer"
                ><h4 class="dorik-heading dorik-heading-p8sc4joe ">
                  <span><p>Teams</p> </span>
                </h4></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="dorik-row-i4p05y79  flex">
          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-0dq0dmqf  1/3">
              <div class="dorik-wrapper dorik-image-7686zwdl-wrapper ">
                <img
                  src="https://cdn.dorik.com/615289053eb7a900117249cf/6183df662a6d91001154c5ea/images/league_rl4i3zmn.jpg"
                  class="dorik-image-7686zwdl "
                />
              </div>
              <a
                class="dorik-wrapper dorik-heading-k53k1o3p-wrapper "
                href="https://api.api-cricket.com/cricket/?method=get_leagues&amp;APIkey=673ee20662b21e17c982d271725b2b1b010e5fe8494aa28b485f24c90bbb5b7c"
                target="_blank"
                rel="noreferrer"
                ><h4 class="dorik-heading dorik-heading-k53k1o3p ">
                  <span><p>Leagues</p> </span>
                </h4></a
              >
            </div>
          </div>
          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-zi5d0iqr  1/3">
              <div class="dorik-wrapper dorik-image-1csabkf1-wrapper ">
                <img
                  src="https://cdn.dorik.com/615289053eb7a900117249cf/6183df662a6d91001154c5ea/images/fixtur1e_jfo9ng2f.jpg"
                  class="dorik-image-1csabkf1 "
                />
              </div>
              <a
                class="dorik-wrapper dorik-heading-tduai7o7-wrapper "
                href="https://api.api-cricket.com/cricket/?method=get_events&amp;APIkey=673ee20662b21e17c982d271725b2b1b010e5fe8494aa28b485f24c90bbb5b7c&amp;date_start=2021-11-05&amp;date_stop=2021-07-07"
                target="_blank"
                rel="noreferrer"
                ><h4 class="dorik-heading dorik-heading-tduai7o7 ">
                  <span><p>Fixture</p> </span>
                </h4></a
              >
            </div>
          </div>
          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-yfz7sds6  1/3">
              <div class="dorik-wrapper dorik-image-jvkfklu7-wrapper ">
                <img
                  src="https://cdn.dorik.com/615289053eb7a900117249cf/6183df662a6d91001154c5ea/images/rank_f3pkz656.jpg"
                  class="dorik-image-jvkfklu7 "
                />
              </div>
              <a
                class="dorik-wrapper dorik-heading-aij4jsyo-wrapper "
                href="https://api.api-cricket.com/?method=get_standings&amp;league_key=9869&amp;APIkey=673ee20662b21e17c982d271725b2b1b010e5fe8494aa28b485f24c90bbb5b7c"
                target="_blank"
                rel="noreferrer"
                ><h4 class="dorik-heading dorik-heading-aij4jsyo ">
                  <span><p>Rankings</p> </span>
                </h4></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      window.DORIK_PROJECT_ID = "6183df662a6d91001154c5ea";
    </script>
    <script src="https://cdn.dorik.com/common/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
      (function() {
        var navbar = $(".dorik-nav-i2ujuuxm");
        (function($, navbar) {
          $(navbar).on("click", "a", function(e) {
            var a = event.target.closest("a");
            var hash = a.hash;

            if (hash) {
              var baseHref = a.href.match(/(^https?:.+)#/);
              var baseURI = a.baseURI.match(/(^https?:.+)#?/);
              baseHref = baseHref && baseHref[1];
              baseURI = baseURI && baseURI[1];

              if (baseHref && baseURI && baseURI.includes(baseHref)) {
                e.preventDefault();
                const section = $(hash).offset();
                if (!section) return;
                var navbarHeight = event.currentTarget.clientHeight;
                var scrollTop = section.top - navbarHeight;
                var options = {
                  easing: "linear"
                };
                $("html, body").animate(
                  {
                    scrollTop: scrollTop
                  },
                  options
                );
              }
            }
          });
        })($, navbar);
      })();

      (function() {
        var navbar = document.querySelector(".dorik-nav-i2ujuuxm");
        (function toggleNav(el) {
          const toggleBtn = el.querySelector(".dorik-navbar--toggle");
          toggleBtn &&
            toggleBtn.addEventListener("click", function(e) {
              const navlist = toggleBtn.nextElementSibling;
              const hasShow = navlist.classList.contains("show");

              if (!hasShow) {
                expend();
              } else {
                collapse();
              }

              navlist.addEventListener("click", function(e) {
                if (
                  e.target.closest("a") &&
                  !e.target.closest(".is-dropdown")
                ) {
                  collapse();
                }
              });

              function expend() {
                navlist.classList.add("show");
                const height = navlist.clientHeight + "px";
                navlist.classList.add("collapsing");
                setTimeout(() => {
                  navlist.style.height = height;
                }, 0);
                setTimeout(() => {
                  navlist.style.height = null;
                  navlist.classList.remove("collapsing");
                }, 350);
              }

              function collapse() {
                navlist.style.height = navlist.clientHeight + "px";
                navlist.classList.add("collapsing");
                setTimeout(() => {
                  navlist.style.height = null;
                }, 0);
                setTimeout(() => {
                  navlist.classList.remove("show");
                  navlist.classList.remove("collapsing");
                }, 350);
              }
            });
        })(navbar);
        (function toggleDropdown(jQuery, navbar) {
          var dropdown = jQuery(navbar).find(".dorik-nav--links .is-dropdown");
          jQuery(dropdown).on("click", function() {
            var dropdownItem = jQuery(this).find(".dorik-nav--dropdown");
            dropdownItem.toggleClass("expended");
          });
        })($, navbar);
      })();
    </script>
  </body>
</html>
